.btn {
  width: 80%;
  border: none;
  padding: 2rem 0;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn--pink {
  background-color: $pink-dark;
  color: #fff;

  &:hover {
    background-color: $pink-white;
    color: $pink-dark;
    box-shadow: inset 0 0 0 2px $pink-dark;
  }
}

.btn--white {
  background-color: $pink-white;
  color: $pink-dark;
  box-shadow: inset 0 0 0 2px $pink-dark;

  &:hover {
    background-color: $pink-dark;
    color: #fff;
  }
}
