

.sidebar__list-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;

  .sidebar-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 13px 15px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 10px;

    &__icon {
      width: 30px;
      opacity: 0.5;
    }

    &__label {
      font-size: 2rem;
      font-weight: 400;
      opacity: 0.5;
    }

    &.active-sideitem {
      background-color: $pink-light;

      .sidebar-item__label,
      .sidebar-item__icon {
        opacity: 1;
        font-weight: 600;
      }
    }
  }
}
