#sidebar {
  width: 300px;
  min-height: 70vh;
  margin-top: 5vh;
  background: #fff;
  border-radius: 1rem;
  transition: 0.5s linear;
  position: fixed;
}

main {
  margin: 20px 310px 0 0;
  padding: 5px;
}